body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(218, 218, 218);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.studetnForm {
    /* border: 1px solid gray; */
    width: 350px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.studetnForm>h2{
    text-align: center;
}

.parent>p {
    color: black;
    font-weight: 600;
    padding: 5px;
}

.parent>input {
    width: 100%;
    border: 1px solid gainsboro;
    height: 30px;
    /* color: white; */
    border-radius: 5px;
}

.parent>button {
    display: flex;
    justify-content: center;
    margin: 10px auto 0 auto;
    width: 80%;
    height: 40px;
    background-color: #eee;
    color: black;
    border: 1px solid gainsboro;
    align-items: center;
    cursor: pointer;
}

.parent>select {
    width: 100%;
    border: 1px solid gainsboro;
    height: 30px;
    color: black;
    border-radius: 5px;
}


.student-card{
    /* border: 1px solid gray; */
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 11px;
    border-radius: 10px;
}

.head{
    text-align: center;
}